*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    
    padding: 30px;
    width: 800px;
    height: 700px;
   
}

.title{
    padding: 40px;
    width: 760px;
    height: 200px;
    background-color: rgb(200, 206, 206);
    margin-bottom: 40px;
}
.parent{
    font-size: 12px;
}
.side-bar{
    height: 380px;
    width: 300px;
    margin-left: 25px;
    padding-left: 25px;
    margin-top: 30px;
  background-color: rgb(200, 206, 206);
}
.side-bar a{
color: rgb(49, 167, 247);
margin: 10px;
display: block;

}
.parent{
    width: 800px;

}