*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title-main{
  
    padding: 30px;
    width: 800px;
    height: 600px;
   
}

.hello-world{
    padding: 40px;
    width: 760px;
    height: 200px;
    background-color: rgb(200, 206, 206);
}
.parent{
    font-size: 10px;
}
.side-bar{
    height: 400px;
    width: 300px;
    margin-left: 25px;
    padding-left: 25px;
    margin-top: 30px;
  background-color: rgb(200, 206, 206);
}
.side-bar a{
color: rgb(21, 236, 85);
margin: 10px;

display: block;

}
.parent{
    width: 800px;
}